<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="/css/styles.css">

  </head>
  <body>
    {{>header}}

    <div class="main-body">
      {{description}}
      <p>Srimanta Ganguly</p>
      <img id="about-img" src="/img/my-resize-img4.jpg" alt="">
    </div>

    {{>footer}}

  </body>
</html>
